
html,body{margin:0;padding:0;}

html {
	color:black;background:white;
	font: 0.94em/1.3 helvetica,arial,sans-serif;
	overflow-y:scroll; /* consistent width across pages */
}

@media screen {
	body > div, #header > div, #menu > ul, .navheader > table, .navheader > div {
	    width:70%; 
	    min-width:500px;
	    max-width:1000px;
	    margin:0 auto; 			
	}
	
	/* max-width doesn't seem to work on table in webkit, so here's mindbending workaround: */
	.navheader > table {display:block;}
	.navheader > table > tbody, .navheader > table > tr {display:table; width:100%}	
}


/* header */

#header, #menu, .navheader {
  width:auto;
  min-width:0;
  max-width:none;
}

#header h1 {
  font-family:arial, helvetica,sans-serif;
	font-weight:bold; letter-spacing:0; text-transform:none;
  padding:0.4em 0 0.8em; padding-left:0; font-size:18px; margin:0; border:0;
  text-shadow: 0 1px 0 white;
	line-height:1.25;
  word-spacing:2px;
  
	text-align:right;
	display:inline-block;
}

/* PHPTAL text */
#header h1 abbr:first-child {
  display:block; 
  border:0; text-decoration:none;
	
	font-style:normal;
	font-size: 61px;
  text-shadow:1px 3px 6px rgb(66%,66%,66%);
  /*text-shadow:1px 3px 6px rgba(0,0,0,0.3); Opera 10 is buggy */ 
  
  padding: 0 0 0 60px; 
	background: url(gfx/logo.png) no-repeat 0 45%;
	vertical-align:middle;
}

#header h1 > a {text-decoration:inherit; color:inherit;}
#header h1 > a:hover abbr:first-child {text-decoration:underline; color:#007}


#header {
  background: rgb(223,223,223) url(gfx/gradient.png) no-repeat 0 0;

  background-image: -webkit-gradient(linear, left top, right bottom, from(#aaa), to(#ddd), 
  color-stop(0.5, #ccc),
  color-stop(0.3, #fff));
  
}

/* menu */

#menu, #menu > ul { 
	padding:0;
	overflow:hidden; /* clear */
}

#menu { 
	font-size:1.15em;
  line-height:2em;
	
	border-top:1px solid white;
	border-bottom:6px solid #F2E78F;
}

#menu, #menu a
{ 
	color:#ffb;
  background:#888 url(gfx/menubg.png) repeat-x 0 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#888));
}

#menu a {
	display:block; 
	border-right:#bbb solid 1px; 
	
	text-decoration:none;	
	text-shadow: 0 1px 2px #474747;
  /*text-shadow: 0 1px 2px rgba(0,0,0,0.5);*/
}

#menu li:first-child a {border-left:#bbb solid 1px;}

#menu .current,
#menu .current a {
		cursor:default; 
		color:black;
		text-shadow:none;
		background:white url(gfx/menuselbg.png) 0 0 repeat-x;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#fff), color-stop(40%,#fff));
}

#menu a:hover, 
#menu a:focus {
  background:#ccc; color:#ffb !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#ddd),
  color-stop(0.3, #ccc),
  color-stop(0.6, #ccc)
  );
  text-shadow: 0 1px 3px black !important;
}

#menu li {
    padding:0; margin:0; 
		list-style:none; float:left; 
    text-align:center;vertical-align:middle;

}

#menu li {width:15%;}
#menu li.introduction {width:17%;}
#menu li.download {width:17%;}
#menu li.faq,
#menu li.news {width:11%}        
#menu li.contact {width:17%}        
#menu li.wiki {width:12%}        

/*
#menu li {width:14%;}
#menu li.news, #menu li.i18n {width:13%}
#menu li.download, #menu li.community {width:16%}
*/

/* page content */

#page {min-height:500px;}

#footer {text-align:center; border-top:1px solid #ddd; padding:1em 0; margin-top:2em; font-size:0.75em; clear:both}
#footer img {vertical-align:middle}


/* headers */

h1,h2,h3 
{
 border-bottom:1px solid #eee;
}


h1 {font-size:2.5em}
h2, h1+h1 {font-size:1.5em}
h3 {font-size:1.25em}
h4,h5 {font-size:1em}


h3,h5 {color:#8E864E;}
h3 > a, h5 > a {color:inherit;}

h1,h2,h3,h4,h5 {
	margin: 1.5em 0 0.5em;
  font-family: "Myriad Pro",Corbel,"Franklin Gothic Book","Trebuchet MS","Lucida Sans Unicode",sans-serif;
	font-weight:normal;
	line-height:0.9;
	letter-spacing:1px;	
}

h1 {margin-top:0.75em;}

h1,h4,h5 { text-transform:uppercase;}

h1 + p,h2 + p,h3 + p,h4 + p {margin-top:0;}

a img {border:0}

/* acronyms */

abbr,acronym {font-family:Consolas, "Trebuchet MS",sans-serif; border:0; text-decoration:none}
abbr[title],acronym[title] {line-height:0.9; padding-bottom:0; border-bottom:1px dotted #ddd; border-bottom:1px dotted rgba(0,0,0,0.15)}

h1 abbr, h2 abbr, h3 abbr {font:inherit; border:0 !important}

/* code */

pre {
	padding:1em 3em 1em 1em; 
	background: #fefefe; 
	margin:0 0 1em; /* Firefox 3.0 does not collapse margins */
	display:table; /* gives it minimum required width */
	
	border: 1px solid #eee; 
	border-top-width:2px
	-webkit-border-radius:4px;
  -moz-border-radius:4px;
}

code.short {white-space:nowrap;}

code em, code i {font-style:normal;color:#800}
.replaceable {font-style:italic;}
code strong, code b {color:#4a0;letter-spacing:0;}

code,pre {
  color: #543; font-size:98%; font-family:Consolas,"lucida console",Courier,"Courier New","Bitstream Vera Sans Mono";
  /* WebKit does pretty stupid 90s-era compatibility shenanigans when monospace is mentioned, grr! */

	text-transform:none;
}
code.literal {font-size:105%; letter-spacing:0;}

code { letter-spacing:-1px;}
pre code {font-size:100%; letter-spacing:0; color:#222}

pre a, code a, a > code, a > code * {color:inherit}

/* other tweaks */

a img {border:0}

li > p:only-child {margin:0;}

hr {height:0;border:0; border-top:1px solid #eee; clear:both; margin:1em 0;}

/* new homepage */

/*
.features-and-news {overflow:auto}
.killer-features {width:50%; float:left; overflow:hidden}
.killer-features a {text-decoration:none; font-weight:bold; color:black}
.killer-features a:hover {text-decoration:underline; color:blue}

.intro .download p {
    margin:0;
}
.intro .download .other {
    text-align:center;
    font-size:0.8em; padding-right:1em;
    margin:0.5em 0 0;
}
.intro .download { 
    float:right; 
    margin-left:2em;
    margin-bottom:0.5em;
}
.intro .download a.main { 
    font-size:0.9em;
    text-decoration:none; background: #393; color:white; 
    display:block; padding:0.8em 3em; margin:0;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#4b3), to(#070));
    -webkit-box-shadow: 0 5px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 6px rgba(0,0,0,0.3);
    text-shadow: 0 2px 0px rgba(0,0,0,0.4);
    text-align:center;
    border: 0 solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.6);
}
.intro .download a.main strong {font-weight:bold; font-size:1.5em;display:block;}
.intro {overflow:hidden;}


.features-and-news .news {float:right; width:50%; overflow:hidden;}

.features-and-news ul {margin:1em 0; padding:0 1em 0 2em}
.features-and-news li {margin:0; padding:0}

.features-and-news .archive {text-align:right}

.news .date { color:#aaa; float:right;  margin:0 1em 1em}
.news .date + p {margin-top:0}

*/

p.error {color:red;}

/* docbook */

/* manual sub header */

.navheader {margin:0 0 1em; 
	width:auto; padding:0.5em 0; border-bottom:1px solid #eed;
	background: #FCFCE8 url(gfx/yellowgra.png) repeat-x 0 100%;  
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdea), to(#FaFaE5));
}
.navheader > table {margin-top:0; border-collapse:collapse; padding:0;}
.navheader > table td, .navheader > table th { padding:0;}

.navheader > table a {font-weight:bold; letter-spacing:1px; display:block}
.navheader .breadcrumbs {font-weight:normal;text-align:center}
.navheader .breadcrumbs a {font-weight:normal; letter-spacing:0; display:inline;}

.navfooter {margin-top: 2em; border-top: 1px solid #eee;}
.navfooter a { margin:0;}
.navfooter td {vertical-align:top;}

/* title page */

.titlepage > hr {display:none}

div.author h3 {font-size:1em; color:black; border:0; margin:0; font-weight:normal;}

/* misc docbook */

div.note, div.tip, div.warning {position:relative;  background:#fffefe; border: solid #fcc; margin:1em 0 1em 4em; border-width:1px 0; padding:0 0.5em;}
div.note > p, div.tip > p, div.warning > p {margin:0.5em 0;}
div.note > .title, div.tip > .title, div.warning > .title {
	text-transform:none;
	border:none; font-size:0.8em; margin:0.5em 0; color:#f77; margin-right:0.5em; position:absolute; right:100%; top:0.4em;
}


div.tip {background:#fcfcff; border-color: #ccf; }
div.tip > .title {color:#88f;}

div.note {background:#fffff8; border-color: #fe8; }
div.note > .title {color:#db4;}

div.example > p.title {font-size:1em; margin:1em 0 0;}
.example-contents > pre {margin-top:0.5em;}
div.example > p.title > b {font-weight:normal;}
div.example {margin:1em 0 1.5em}

br.example-break {display:none;}


/* media queries - print & large screen */

@media print {
	div.note, div.tip, div.warning {background:transparent;}
	div.article,div.toc, div.book > .titlepage {page-break-after:always;}
}

@media screen and (min-height:1000px) and (min-width:1400px) {
	html {font-size:1em;}	
}

@media screen and (max-height:900px) {
	#header h1 {
		font-size:15px; 
	}
	#header h1 abbr:first-child {
		font-size: 50px; 
		background-image: url(gfx/logo-small.png);
		padding-left:46px;
	}
	#menu { 
		font-size:1em !important; 
		border-bottom:4px solid #F2E78F !important;
	}
}

/* wiki */

#dokuwiki .bchead {display:none}
#dokuwiki form, 
#dokuwiki .no {display:inline}

#dokuwiki .navheader .search {text-align:right}
#dokuwiki .btn_edit input {font-weight:bold}
#dokuwiki .breadcrumbs a {text-transform:capitalize}
#dokuwiki .navheader a {font-weight:normal; letter-spacing:0; display:inline;}
#dokuwiki h1 + div + .secedit {display:none}
#dokuwiki .secedit { text-align:right; float:right}
#dokuwiki .secedit input {
	border:0; border-bottom:1px solid #eee; border-right:#ddd 1px solid; font-size:0.8em; 
	padding:3px 5px;
	background:transparent; color:#88b;
	text-align:right;
	width:5em;
		cursor:pointer;
}
#dokuwiki .secedit input:hover {
	border-color:black;
	color:#00a;
}

#dokuwiki a.urlextern:link {color:#77f}
#dokuwiki a.urlextern:visited {color:#969}
#dokuwiki #qsearch__in {margin-right:3px}

#wiki__text {width:100%; min-height:15em}
#dokuwiki .wikilink2 {color:red; text-decoration:none;border-bottom:1px dotted red;}
.wiki-messages > div {
	font-size:1.1em;
	background:#fee; border: solid #fcc; 
	margin:2em 0; border-width:1px 0; padding:0.5em;
}


.wiki-messages > div.success {
	background:#efe; border-color: #beb; 
}
	
#footer .wikiinfo {display:table;width:100%}
#footer .user {display:table-cell; padding-left:0.5em; text-align:right}
#footer .doc {display:table-cell; padding-right:0.5em; text-align:left}
#footer .buttons {white-space:nowrap}

#dokuwiki .license {color:gray; margin:3px 0;clear:both}
#dokuwiki .license a {color:inherit !important;}

#dokuwiki #page li.level1 {margin:0.2em 0;}
