/* Pretty printing styles. Used with prettify.js. */

.str { color: #843; }
.kwd { color: #008; }
.com { color: #555; }
.phpblock var, .typ { color: #606; }
.phpblock var {font-style:normal; }
.phpblock .str {color:#066; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #843; }

.tales { color: #080; }
.phpblockpi { color: #a00;  }
.phpblock { color: #000;  }


.dec { color: #606; }
pre.prettyprint { padding: 2px; border: 1px solid #888; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

.prefixed {font-style:italic}
.aaaprefixed {font-weight:bold;}
.dprefixed.atn {color:#040; }
.prefisxed + .pun + .atv {color:#080; }
code span.mytag {color:#843}
